body{
    background-color: rgba(203, 188, 196, 0.6);
}
.heading{
    color:blue; text-align: center; font-weight: 800;
}
.coinsbutton{
    display:flex; gap:100px; justify-content: center;
}
.heads,.tails{
    background-color: transparent; border:none;
}
.img{
    width:150px; height:150px;
}
.reset{
    background-color:orangered; font-weight: bold; margin:30px 0; padding:5px 10px;
}
.result{
    display:block; text-align: center; margin-right: end;
}
#green{
    color:green;
   
    
}
#red{
    color:red;
  
}
.computerMove{
    display:float;
    
}
.tossresult{
    font-weight: bolder;
    text-align: center;
}